<style>
  :host {
    --primary-bg: #ded6cb;
    --px: 5px;
  }
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 100vw;
    min-height: 100vh;
    background: var(--primary-bg);
    overflow: hidden;
    justify-content: space-between;
  }

  .footer {
    font-family: monospace;
    opacity: 0.5;
    font-size: 0.9em;
    padding: calc(var(--px) * 2);
  }
  .add-note {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  /* todo: make shared with item */
  button {
    padding: calc(var(--px) * 2);
    background: rgba(0, 0, 0, 0.1);
    border-radius: calc(var(--px));
    margin: var(--px);
    border: none;
    font-size: var(--button-text-size);
  }
  .add-note button {
    width: 100%;
    margin: 20px;
    max-width: 400px;
  }
</style>
<div class="container">
  <div id="notesContainer"></div>
  <div class="add-note">
    <button id="addNote">+</button>
  </div>
  <div class="footer">
    <div id="version"></div>
  </div>
</div>
